body {
    background-color: black;
    color: white;
    font-family: 'panel-sans', sans-serif;
    background-image: url('https://github.com/HeyJKSN/SKATEHouse/blob/main/sh_bg.png?raw=true');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


header {
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

h1 {
    font-family: 'Bluu Next', sans-serif;
    font-size: 150px;
    margin-bottom: 10px; /* Adjust this value */
    margin-top: 0;
    padding-bottom: 10px; /* Adjust this value */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

h2 {
    font-family: 'panel-sans', sans-serif;
    font-size: 100px;
    margin-bottom: 5px; /* Adjust this value */
    margin-top: 0;
    padding-bottom: 5px; /* Adjust this value */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

p {
    font-size: 25px;
    margin-bottom: 5px; /* Adjust this value */
    margin-top: 0;
    padding-bottom: 5px; /* Adjust this value */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

nav {
    background-color: #0000;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

li {
    display: inline;
    margin: 0 3px; /* Adjust the margin to your liking */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

.main-content {
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}

footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adjust shadow values as needed */
}
